<%#= render 'shared/side_nav' %>
<!--<div class="main-content-wraper" id="main-content">-->
<!--<%#= render 'shared/flash_message' %>-->
<!--<div class="title-main"><%#= controller.controller_name.capitalize %></div>-->
<!--<div class="nav-content-spacing">-->
<!--<div class="content-body">-->
<!--<div class="content-top-spacing"></div>-->
<!--<%#= yield %>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->