<!--*******************
          Preloader start
      ********************-->
<div id="preloader">
  <div>
    <!--      <img src="images/pre.gif" alt="">-->
    <!--      <img src="./../../assets/images/pre.gif" alt="">-->
    <img src="<%= asset_path('my_welcome_app.png') %>" alt="">
  </div>
</div>
<!--*******************
    Preloader end
********************-->
